a:link,a:visited
{
  color:rgb(145, 5, 5);
  background-color: rgba(203, 207, 209, 0.74);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 15px 2SSpx;

}
a:hover,a:active
{
  color:rgb(252, 252, 252);
  background-color:rgb(145, 5, 5);
  text-decoration: none;
}
h2{
    color:rgba(41, 1, 59, 0.795);
    margin-left: 30px;
}
body{
    background-image: url(imgs/marvel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
blockquote{
    color: aliceblue;
}